[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true
[user]
	name = Enrique Caballero
	email = ecaballerojr@icloud.com
	signingkey = 79648937D1983AA4
[commit]
	gpgsign = true
[init]
	defaultBranch = master
