[user]
  name = Enrique Caballero
  email = ecaballerojr@icloud.com
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIOeo501N/wA+7hOvjLRau8EONMUa66bzRnadgsuFSRw2
[includeIf "hasconfig:remote.*.url:git@gitlab.red-alpha.com:*/**"]
  path = .gitconfig.red-alpha
[commit]
  gpgsign = true
[gpg]
  format = ssh
[gpg "ssh"]
  program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[pull]
  ff = only
[init]
  defaultBranch = master
