packages: [
  "file-icons"
  "highlight-selected"
  "language-babel"
  "language-graphql"
  "linter"
  "linter-eslint"
  "minimap"
  "minimap-cursorline"
  "minimap-find-and-replace"
  "minimap-git-diff"
  "minimap-highlight-selected"
  "minimap-pigments"
  "minimap-selection"
  "minimap-split-diff"
  "nuclide"
  "nuclide-format-js"
  "package-sync"
  "pigments"
  "sort-lines"
  "split-diff"
  "tool-bar"
]
