packages: [
  "atom-limelight"
  "autocomplete-modules"
  "autocomplete-paths"
  "cursor-history"
  "emmet"
  "file-icons"
  "git-projects"
  "highlight-selected"
  "hyperclick"
  "intentions"
  "js-hyperclick"
  "language-babel"
  "linter"
  "linter-eslint"
  "linter-ui-default"
  "minimap"
  "minimap-cursorline"
  "minimap-find-and-replace"
  "minimap-git-diff"
  "minimap-highlight-selected"
  "minimap-pigments"
  "minimap-selection"
  "package-sync"
  "pigments"
  "prettier-atom"
  "tool-bar"
]
